-# coding: UTF-8

.pagination.pagination-centered
  %ul
    -if @page == 1
      %li
        %a &laquo;
    -else
      %li.disabled
        %a{:href => "?page=#{@page - 1}"} &laquo;

    -(([@page - 5, 1].max)..([@page + 5, @page_count].min)).each do |p|
      -if p == @page
        %li.active
          %a
            = p
      -else
        %li
          %a{:href => "?page=#{p}"}
            = p

    -if @page == @page_count
      %li.disabled
        %a &raquo;
    -else
      %li
        %a{:href => "?page=#{@page + 1}"} &raquo;

= @page
of
= @page_count

%table.table.table-striped.table-hover.table-bordered.table-condensed
  %caption
    = @title

  %thead
    %tr
      -@record_properties.each do |p|
        %th
          = p
  %tbody
    -@records.each do |r|
      %tr
        -@record_properties.each do |p|
          %td
            %code
              = r[p]

.pager
  -if @page == 1
    %li.previous.disabled
      %a &laquo;
  -else
    %li.previous
      %a{:href => "?page=#{@page - 1}"} &laquo;
  -if @page == @page_count
    %li.next.disabled
      %a &raquo;
  -else
    %li.next
      %a{:href => "?page=#{@page + 1}"} &raquo;

%form{:'data-sync' => true, :action => '/ntrace/task/create', :method => :POST}
  %fieldset
    .control-group
      %label.control-label{:for => :description}
        定义任务
      .contols
        %textarea.span9{:name => :description, :rows => 8, :cols => 80, :placeholder => "# YAML格式（参考页面下方示例）"}
    %button.btn.btn-primary{:type => :submit}
      发布

%pre
  \---
  \task_ping_1:
  \  type: ping
  \  host: www.renren.com
  \task_fetch_1:
  \  type: fetch
  \  file: http://s.xnimg.cn/100k.jpg
